@model IEnumerable<UniversitySystem.Models.DepartamentModel>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="active"><a href="@Url.Action("Index","Departament")">Факультеты</a></li>
        <li ><a href="@Url.Action("Index","Specialization")">Специальности</a></li>
        <li ><a href="@Url.Action("Index","Professor")">Преподаватели</a></li>
        <li><a href="@Url.Action("Index","Subject")">Предметы</a></li>
        <li><a href="@Url.Action("Index","Admin")">Расписание ЦТ</a></li>
        <li><a href="@Url.Action("Index","Logout")">Выход</a></li>
        <li style="background-color:aqua"><a href="@Url.Action("Create","Departament")">Добавить</a></li>
    </ul>
    <div class="form">
        <table class="table">
            <tr>
                <td><p>ID</p></td>
                <td><p>Название</p></td>
                <td><p>Преподаватели/Специальности</p></td>                
                <td></td>
            </tr>
            @foreach (UniversitySystem.Models.DepartamentModel b in Model)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Title</p></td>
                    <td><p>link/link</p></td>
                    <td><p><a href="@Url.Action("Delete","Departament",new { id=@b.Id})">Удалить</a>/<a href="@Url.Action("Change","Departament",new { id=@b.Id})">Изменить</a></p></td>                 
                </tr>
            }
        </table>
    </div>

    <style>
        .form form {
            width: 300px;
            margin: 0 auto;
            padding-top: 20px;
        }
    </style>
</body>
</html>
