
@using UniversitySystem.Models
@model IEnumerable<ScheduleViewModel>

<html>
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Index","Departament")">Факультеты</a></li>
        <li><a href="@Url.Action("Index","Specialization")">Специальности</a></li>
        <li ><a href="@Url.Action("Index","Professor")">Преподаватели</a></li>
        <li><a href="@Url.Action("Index","Subject")">Предметы</a></li>
        <li class="active"><a href="@Url.Action("Index","Secretary")">Расписание ЦТ</a></li>
        <li><a href="@Url.Action("Index","Logout")">Выход</a></li>
        <li style="background-color:aqua"><a href="@Url.Action("Create","Secretary")">Добавить</a></li>
    </ul>
    <div class="form">
        <table class="table">
            <tr>
                <td><p>ID</p></td>
                <td><p>Предмет</p></td>
                <td><p>Дата</p></td>
                <td><p>Аудитория</p></td>
                <td><p>Преподаватель</p></td>
                <td></td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.SubjectTitle</p></td>
                    <td><p>@b.Date.ToString("d")</p></td>
                    <td><p>@b.Classroom</p></td>
                    <td><p>@b.ProfessorName</p></td>
                    <td><p><a href="@Url.Action("Delete","Secretary",new { id=@b.Id})">Удалить</a>/<a href="@Url.Action("Change","Secretary",new { id=@b.Id})">Изменить</a></p></td>
                </tr>
            }
        </table>
    </div>

    <style>
        .form form {
            width: 300px;
            margin: 0 auto;
            padding-top: 20px;
        }
    </style>
</body>
</html>


